@import '../../styles/mixins';

.navbar {
  display: flex;
  justify-content: space-between;
  background: #dfdfdf;
  padding: 2rem;
  &__buttons {
    align-items: center;
    gap: 1.2rem;

    &-adminLinks {
      display: flex;
      align-items: center;
      gap: 1.2rem;
      @include moreThanTablet() {
        margin-right: 3rem;
      }

      a {
        border-radius: 8px;
        padding: 0.5rem 1.5rem;
        font-size: 14px;
        border: 1px solid rgba(0, 0, 0, 0);
        transition: all 0.3s ease-in;
        &:hover {
          border: 1px solid #40a9ff;
        }
        &:active {
          text-decoration: none;
        }
      }
      a.active-link {
        border: 1px solid #1890ff;
      }
    }
  }
}
